@model InsuranceFinalProject.ViewModel.CarMotorDetails

    <div class="contact-body">
        <div class="contact-heading">
            <h3>My details</h3>
        </div>
        <div class="details-col">
            <div class="user-details">
                <h3><span>Name: </span>@ViewBag.userFirstName @ViewBag.userLastName</h3>
                <h3><span>Username: </span>@ViewBag.userUserName</h3>
            </div>
            <div>
                @foreach (var car in Model.CarDetails)
                {
                    <div class="vehicle-details">
                        <h3>Car Details</h3>
                        <div class="vehicle-details-table">
                            <div class="details-heading">
                                <p>Registration number</p>
                                <p>Listed value</p>
                                <p>Mode of use</p>
                            </div>
                            <div class="details-body">
                                <p>@car.CarReg</p>
                                <p>$@car.CarValue.00</p>
                                <p>@car.ModeofUse</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div>
                @foreach (var moto in Model.MotorBikeDetails)
                {
                <div class="vehicle-details">
                    <h3>Motor Cycle Details</h3>
                    <div class="vehicle-details-table">
                        <div class="details-heading">
                            <p>Registration number</p>
                            <p>Listed value</p>
                            <p>Mode of use</p>
                        </div>
                        <div class="details-body">
                            <p>@moto.MotorReg</p>
                            <p>$@moto.MotorValue.00</p>
                            <p>@moto.ModeofUse</p>
                        </div>
                    </div>
                </div>

                }
            </div>
        </div>
    </div>

        @* Set edit button here *@

        <div class="home-link-container">
            <div class="home-link">
                @Html.ActionLink("Edit", "EditDetails", "User", null, new { @class = "nav-link" })
            </div>
        </div>

