@using InsuranceFinalProject.ViewModel
@model UserCarMotorModel

<div class="contact-body">
    <div class="contact-heading">
        <h3>Car details</h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="contact-input">
                    @Html.EditorFor(model => model.CarReg, new { htmlAttributes = new { @class = "form-control", @placeholder = "Registration number" } })
                    @Html.ValidationMessageFor(model => model.CarReg, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="contact-input">
                    @Html.EditorFor(model => model.CarValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Listed value" } })
                    @Html.ValidationMessageFor(model => model.CarValue, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="contact-input">
                    @Html.DropDownListFor(model => model.ModeofUse,
                        new SelectList(Enum.GetValues(typeof(Mode))),
                        "Select Mode of use",
                        new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ModeofUse, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="contact-submit">
                    <input type="submit" value="Create" class="input-button" />
                </div>
            </div>
        </div>
    }
</div>

<div class="home-link-container">
    <div class="home-link">
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
