<div class="collapse navbar-collapse" id="navbarsExample07">
    <ul class="navbar-nav ml-auto">
        @* Make this a partial view *@

        <li class="nav-item">
            @*<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item dropdown">
            @*<a class="nav-link dropdown-toggle" href="@Url.Action("Services", "Home")" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                <div class="dropdown-menu" aria-labelledby="dropdown07">
                    <a class="dropdown-item" href="#">Car Insurance</a>
                    <a class="dropdown-item" href="#">Motorcycle Insurance</a>
                </div>*@
            @Html.ActionLink("Services", "Services", "Home", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Logout", "Logout", "User", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Register", "Register", "User", null, new { @class = "nav-link" })
        </li>
    </ul>
</div>


