@model InsuranceFinalProject.Models.Message

@{
    ViewBag.Title = "Contact";
}

    <div class="contact-body">
        <div class="contact-heading">
            <h3>Get in touch with us!</h3>
        </div>

        @if (ViewBag.feedBack != null)
        {
            // make this bigger!
            <div class="feedBackMsg">
                <h4>@ViewBag.feedBack</h4>
            </div>
        }

        @using (Html.BeginForm("Message", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="contact-input">
                        @Html.EditorFor(model => model.MsgName, new { htmlAttributes = new { @class = "form-control", @name = "MsgName", @placeholder = "Name" } })
                        @Html.ValidationMessageFor(model => model.MsgName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="contact-input">
                        @Html.EditorFor(model => model.MsgEmail, new { htmlAttributes = new { @class = "form-control", @name = "MsgEmail", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.MsgEmail, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    <div class="contact-input">
                        @Html.EditorFor(model => model.MsgPhone, new { htmlAttributes = new { @class = "form-control", @name = "MsgPhone", @placeholder = "Phone" } })
                        @Html.ValidationMessageFor(model => model.MsgPhone, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    <div class="contact-input">
                        @Html.EditorFor(model => model.MsgSub, new { htmlAttributes = new { @class = "form-control", @name = "MsgSub", @placeholder = "Subject" } })  @Html.ValidationMessageFor(model => model.MsgSub, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    <div class="contact-input">
                        @Html.TextAreaFor(model => model.MsgContent, new { @class = "form-control", @name = "MsgContent", @placeholder = "Message" })
                        @Html.ValidationMessageFor(model => model.MsgContent, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    <div class="contact-submit">
                        <input type="submit" value="Send message" class="input-button" />
                    </div>
                </div>
            </div>
        }
    </div>
   
    <div class="home-link-container">
        <div class="home-link">
            @Html.ActionLink("Home", "Index", "", new { @class = "nav-link" })
        </div>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
