<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alliance Insurance - @ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Admin")"><img class="main-logo" src="~/Content/img/logo-thick.png" alt="Alternate Text" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Messages", "Messages", "Admin", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Users", "Users", "Admin", null, new { @class = "nav-link" })
                    </li>
                    
                    <li class="nav-item">
                        @Html.ActionLink("Claims", "Claims", "Admin", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Logout", "Logout", "User", null, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container body-content">

        @RenderBody()
        <hr />

    </div>


    <div class="admin-footer">
        <div>
            <img class="admin-footer-img" src="~/Content/img/logo-thick.png" alt="main alliance logo" />
            <div class="lower-admin-footer">
                <p>&copy 2020 - Alliance Insurance</p>
                <p>For the allaince!</p>
            </div>
        </div>
        
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
