@model IEnumerable<InsuranceFinalProject.Models.Message>

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Messages</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MsgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MsgEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MsgPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MsgSub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MsgContent)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MsgName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MsgEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MsgPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MsgSub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MsgContent)
        </td>
    </tr>
}

</table>
